# Dependencias de Node
node_modules/
.next/

# Entorno Virtual de Python (La carpeta pesada)
backend-fastapi/cosmic/
**/cosmic/
**/lib/python*/

# Secretos
.env
.env.local
backend-fastapi/.env
serviceAccountKey.json

# Basura de sistema
.DS_Store
__pycache__/