fastapi==0.121.3
uvicorn==0.38.0
pydantic==2.12.4
starlette==0.50.0
anyio==4.11.0
python-dotenv==1.2.1
requests==2.32.5
PyJWT==2.10.1
cryptography==46.0.3
numpy==1.26.4

firebase_admin==7.1.0
google-api-core
google-auth
google-cloud-core
google-cloud-firestore
google-cloud-storage
googleapis-common-protos
proto-plus
protobuf
grpcio
grpcio-status